@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
    --primary-color: #282c34;
    --secondary-color: #61dafb;
    --text-color: #ffffff;
    --accent-color: wheat;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--primary-color);
    display: grid;
    place-items: start center;
    min-height: 100vh;
    margin: 0;
}

#heading {
    font-size: 3em;
    text-align: center;
    margin: 0;
}

.headingText {
    color: var(--accent-color);
}

#headingTextColored {
    font-family: "Pattaya", sans-serif;
    background-image: linear-gradient(to right, #f06, #f6f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#btn:hover {
    background-color: #f5deb3;
    transform: scale(1.05);
}

#btn:active {
    transform: scale(1.5);
}

svg {
    fill: cornflowerblue;
}