@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
    --primary-color: #282c34;
    --secondary-color: #61dafb;
    --text-color: #ffffff;
    --accent-color: wheat;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

body {
    background-color: var(--primary-color);
    display: grid;
    place-items: start center; /* Align items at the start and center horizontally */
    min-height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto 1fr; /* Auto height for header, auto for main, 1fr for footer */
    gap: 20px; /* Add some gap between grid items */
}

#profile-picture-img {
    grid-area: image;
    border-radius: 50%;
    border: 10px solid var(--accent-color);
    width: 10em;
    height: 10em;
}

@media (min-width:600px) {
  body {
    grid-template-areas:
    "header""table"
    "image""table"
    "main""table"
    "text""table";
  }
}

@media (max-width:600px) {
    body {
        grid-template-areas:
        "header"
        "image"
        "main"
        "text";
    }
}

h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    color: var(--accent-color);
}

#headingTextColored {
    font-family: "Pattaya", sans-serif;
    background-image: linear-gradient(to right, #f06, #f6f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#about-me-text {
    grid-area: text;
}

#btn-resume {
  grid-area: main;
}

button:hover {
    background-color: #f5deb3;
    transform: scale(1.05);
}

button:active {
    transform: scale(1.5);
}

#languages-table {
    grid-area: table;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#languages-table div {
    border: var(--text-color) medium solid;
    border-radius: 1em;
}

#languages-table i {
    color: var(--text-color); /* Sets the icon color to white */
    font-size: 1.5em; /* Optional: Adjust size if needed */
    /* Add any other styling like margins if necessary */
}

/*DO NOT TOUCH! (Cross html content)*/

#menuBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    padding: 10px 0;
}

#menuBarContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    border-radius: 5em;
    border: 0.2em solid var(--accent-color);
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    background-color: var(--primary-color);
}

#menuBar a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-color); /* Default link color */
    transition: color 0.3s ease; /* Smooth color transition */
}

#menuBar a:hover,
#menuBar a:active {
    color: cornflowerblue; /* Change color on hover/active */
}

#menuBar a:hover svg,
#menuBar a:active svg {
    fill: cornflowerblue;
    transition: fill 0.3s ease;
}
